.right {
  /* border: 1px solid red; */
  display: inline-block;
  margin: auto;
}
.left {
  display: inline-block;
  /* border: 1px solid black; */
  width: 50%;
  padding-left: 200px;
}
.img {
  margin-left: 100px;
  margin-top: 90px;
  width: 300px;
  transform: rotate(30deg);
}
.head {
  background-color: rgb(216, 92, 113);
  height: 90vh;
  color: white;
  overflow: hidden;
}
.t1 {
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 80px;
}
h1 {
  font-family: "Times New Roman", Times, serif;
}
.navigation {
  padding-top: 30px;
  padding-right: 300px;
}
.btngp {
  margin-top: 40px;
}
.btnr {
  margin-left: 15px;
}
.body1{
    border: 1px solid blue;
    height: 70vh;
    display: flex;
}
.box{
    width: 20%;
    text-align: center;
    padding-top: 160px;
    margin-left: 120px;
}
.boxh3{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
.boxp{
    font-size: small;
    color:rgb(122, 115, 106);
}
.box2{
    border: 1px solid red;
    background-color: pink;
    height: 100vh;
}
.box2h2{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    text-align: center;
    margin-bottom: 30px;
}
.box2section{
    padding: 50px 200px;
    text-align: center;
}
.box2img{
    margin-top: 60px;
}
.box3{
    height: 100vh;
}
.box3h2{
    font-family: 'Times New Roman', Times, serif;
    
}
.box3p{
    font-size: 10px;
    color: rgb(122, 115, 106);
}
.box3heading{
    text-align: center;
    padding-left: 100px !important;
    padding-top: 12vh;
}
.pricing-tag{
  margin: 15px 50px;
}
